{% extends 'home/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block css %}
{%endblock%}

{%block header%}

{%endblock%}

{% block body%}
<!-- Content -->
<div class="page-content bg-white">

	<!-- Slider -->
	<div class="main-slider style-two default-banner" id="home">
		<div class="tp-banner-container">
			<div class="tp-banner">
				<div id="rev_slider_1175_1_wrapper" class="rev_slider_wrapper fullscreen-container"
					data-alias="duotone192" data-source="gallery" style="background-color:transparent;padding:0px;">
					<!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
					<div id="rev_slider_1175_1" class="rev_slider fullscreenbanner" style="display:none;"
						data-version="5.3.0.2">
						<ul>
							<!-- SLIDE  -->
							<li data-index="rs-3239" data-transition="fade" data-slotamount="default"
								data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
								data-easeout="default" data-masterspeed="default"
								data-thumb="images/main-slider/slide20.jpg" data-rotate="0" data-fstransition="fade"
								data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off"
								data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4=""
								data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
								data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="{%static 'images/background/allcars.JPG'%}" alt=""
									data-lazyload="{%static 'images/background/allcars.JPG'%}"
									data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
									data-bgparallax="3" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->
								<div class="tp-caption tp-shape tp-shapewrapper " id="slide-100-layer"
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
									data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
									data-basealign="slide" data-responsive_offset="off" data-responsive="off"
									data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}]'
									data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									style="z-index: 2;background-color:rgba(0, 0, 0, 0.1);border-color:rgba(0, 0, 0, 0);border-width:0px; background-image:url(static/images/overlay/rrdiagonal-line.png)">
								</div>
								<!-- BACKGROUND VIDEO LAYER -->
								<div class="rs-background-video-layer" data-forcerewind="on" data-volume="mute"
									data-videowidth="100%" data-videoheight="100%"
									data-videomp4="{%static 'videos/background/allcars.mp4'%}" data-videopreload="auto"
									data-videoloop="loop" data-aspectratio="16:9" data-autoplay="true"
									data-autoplayonlyfirsttime="false"></div>
								<!-- LAYER NR. 1 -->
								<div class="tp-caption   rs-parallaxlevel-4" id="slide-3239-layer-1"
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
									data-fontsize="['60','60','40','20']" data-lineheight="['75','70','50','30']"
									data-width="['720','640','480','300']" data-height="none" data-whitespace="normal"
									data-type="text" data-responsive_offset="off" data-responsive="off"
									data-frames='[{"from":"y:20px;sX:0.9;sY:0.9;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
									data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									style="z-index: 5; min-width: 720px; max-width: 720px; white-space: normal; font-size: 60px; line-height: 70px;  color: rgba(255, 255, 255, 1.00);font-family:Poppins;border-width:0px; font-weight:600;">
									Enjoy Wide Range <br /> Luxury Car Rides
								</div>
							</li>
							<!-- SLIDE  -->
							<li data-index="rs-3240" data-transition="fade" data-slotamount="default"
								data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
								data-easeout="default" data-masterspeed="default"
								data-thumb="{%static 'images/background/allcars.JPG'%}" data-rotate="0"
								data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
								data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
								data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="{%static 'images/background/allcars.JPG'%}" alt=""
									data-lazyload="{%static 'images/background/allcars.JPG'%}"
									data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
									data-bgparallax="3" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->
								<div class="tp-caption tp-shape tp-shapewrapper " id="slide-200-layer"
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
									data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
									data-basealign="slide" data-responsive_offset="off" data-responsive="off"
									data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}]'
									data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									style="z-index: 2;background-color:rgba(0, 0, 0, 0.1);border-color:rgba(0, 0, 0, 0);border-width:0px; background-image:url(static/images/overlay/rrdiagonal-line.png)">
								</div>
								<!-- LAYER NR. 4 -->
								<div class="tp-caption   rs-parallaxlevel-4" id="slide-3239-layer-2"
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
									data-fontsize="['60','60','40','20']" data-lineheight="['75','70','50','30']"
									data-width="['720','640','480','300']" data-height="none" data-whitespace="normal"
									data-type="text" data-responsive_offset="off" data-responsive="off"
									data-frames='[{"from":"y:20px;sX:0.9;sY:0.9;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
									data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									style="z-index: 5; min-width: 720px; max-width: 720px; white-space: normal; font-size: 60px; line-height: 70px;  color: rgba(255, 255, 255, 1.00);font-family:Poppins;border-width:0px; font-weight:600;">
									We Provide A <br /> Wide Range Of Fleet
								</div>
							</li>
							<!-- SLIDE  -->
						</ul>
						<div class="tp-bannertimer" style="height: 8px; background-color: rgba(255, 255, 255, 0.25);">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Slider END -->

	<!-- Latest Projects -->
	<div class="section-full content-inner-2 bg-img-fix overlay-black-dark wow fadeIn" data-wow-duration="2s"
		data-wow-delay="0.8s" style="background-image: url(static/images/fleetBackground.jpg);">
		<div class="container">
			<div class="section-head text-white text-center">
				<h2 class="title">Our Brands</h2>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div
						class="img-carousel-dots-nav owl-theme owl-dots-none owl-carousel owl-btn-center-lr owl-btn-3 btn-white">

						<div class="item">
							<div class="dlab-box project-bx">
								<div class="dlab-media radius-sm dlab-img-overlay1  dlab-img-effect zoom">
									<a href="portfolio-details.html"><img src="{%static 'images/cars/bentley/pic1.jpeg'%}"
											alt=""></a>
								</div>
								<div class="dlab-info">
									<h5 class="dlab-title text-center"><a href="cars/bentley">BENTLEY</a></h5>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="dlab-box project-bx">
								<div class="dlab-media radius-sm dlab-img-overlay1  dlab-img-effect zoom">
									<a href="portfolio-details.html"><img src="{%static 'images/cars/maybach/pic1.jpeg'%}"
											alt=""></a>
								</div>
								<div class="dlab-info">
									<h5 class="dlab-title text-center"><a href="cars/maybach">MAYBACH</a></h5>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="dlab-box project-bx">
								<div class="dlab-media radius-sm dlab-img-overlay1  dlab-img-effect zoom">
									<a href="portfolio-details.html"><img src="{%static 'images/cars/mustang/pic1.jpeg'%}"
											alt=""></a>
								</div>
								<div class="dlab-info">
									<h5 class="dlab-title text-center"><a href="cars/mustang">MUSTANG</a></h5>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="dlab-box project-bx">
								<div class="dlab-media radius-sm dlab-img-overlay1  dlab-img-effect zoom">
									<a href="portfolio-details.html"><img src="{%static 'images/cars/range-rover/pic1.jpeg'%}"
											alt=""></a>
								</div>
								<div class="dlab-info">
									<h5 class="dlab-title text-center"><a href="cars/range-rover">RANGE-ROVER</a></h5>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="dlab-box project-bx">
								<div class="dlab-media radius-sm dlab-img-overlay1  dlab-img-effect zoom">
									<a href="portfolio-details.html"><img src="{%static 'images/cars/g-wagon/pic1.jpeg'%}"
											alt=""></a>
								</div>
								<div class="dlab-info">
									<h5 class="dlab-title text-center"><a href="cars/g-wagon">G-WAGON</a></h5>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="dlab-box project-bx">
								<div class="dlab-media radius-sm dlab-img-overlay1  dlab-img-effect zoom">
									<a href="portfolio-details.html"><img src="{%static 'images/cars/jaguar-xj/pic1.jpeg'%}"
											alt=""></a>
								</div>
								<div class="dlab-info">
									<h5 class="dlab-title text-center"><a href="cars/jaguar-xj">JAGUAR-XJ</a></h5>
								</div>
							</div>
						</div>
						
						<div class="item">
							<div class="dlab-box project-bx">
								<div class="dlab-media radius-sm dlab-img-overlay1  dlab-img-effect zoom">
									<a href="portfolio-details.html"><img src="{%static 'images/cars/range-rover-sport/pic1.jpeg'%}"
											alt=""></a>
								</div>
								<div class="dlab-info">
									<h5 class="dlab-title text-center"><a href="cars/range-rover-sport">RANGE ROVER SPORT</a></h5>
								</div>
							</div>
						</div>
						
						<div class="item">
							<div class="dlab-box project-bx">
								<div class="dlab-media radius-sm dlab-img-overlay1  dlab-img-effect zoom">
									<a href="portfolio-details.html"><img src="{%static 'images/cars/rubicorn/pic1.jpeg'%}"
											alt=""></a>
								</div>
								<div class="dlab-info">
									<h5 class="dlab-title text-center"><a href="cars/rubicorn">RUBICORN</a></h5>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Latest Projects End -->

	<!-- Testimonials -->
	<div class="section-full content-inner-2 bg-white wow fadeIn"
		style="background-image:url(static/images/background/map-bg1.png)" data-wow-duration="2s" data-wow-delay="0.6s">
		<div class="container">
			<div class="section-head style2 text-center">
				<h2 class="title">Packages</h2>
			</div>
			<div class="testimonial-num-count owl-num-count owl-carousel owl-btn-center-lr owl-btn-3 owl-theme">
				
				<div class="item">
					<div class="testimonial-12 text-white">
						<div class="testimonial-pic">
							<img src="{%static 'images/packages/marriage.jpg'%}" alt="">
						</div>
						<div class="testimonial-detail">
							<h4 class="testimonial-name m-t0 m-b5">Wedding-Car</h4>
							<div class="testimonial-text">
								<p>We provide a variety of luxury cars to make your special days filled with more happiness.
								</p>
							</div>
						</div>
					</div>
				</div>
			
				<div class="item">
					<div class="testimonial-12 text-white">
						<div class="testimonial-pic">
							<img src="{%static 'images/packages/religiousTrip.jpg'%}" alt="">
						</div>
						<div class="testimonial-detail">
							<h4 class="testimonial-name m-t0 m-b5">Religious-Trip</h4>
							<div class="testimonial-text">
								<p style="font-family: 'Aref Ruqaa Ink';">We also provide service of Religious Trips in various parts of North India, for more info you can contact us.</p>
							</div>
						</div>
					</div>
				</div>
			
				<div class="item">
					<div class="testimonial-12 text-white">
						<div class="testimonial-pic">
							<img src="{%static 'images/packages/taxi.jpg'%}" alt="">
						</div>
						<div class="testimonial-detail">
							<h4 class="testimonial-name m-t0 m-b5">Taxi</h4>
							<div class="testimonial-text">
								<p>You can book us as a Taxi to your desired location. We can drop you at Airport, Railway-Stations according to your wish.</p>
							</div>
						</div>
					</div>
				</div>
			
				<div class="item">
					<div class="testimonial-12 text-white">
						<div class="testimonial-pic">
							<img src="{%static 'images/packages/hillTourism.jpg'%}" alt="">
						</div>
						<div class="testimonial-detail">
							<h4 class="testimonial-name m-t0 m-b5">Hill-Tourism</h4>
							<div class="testimonial-text">
								<p>We provide Hill-Tourism in nearby states of Punjab, i.e., Himachal Pardesh, Rajasthan, Haryana, Jammu & Kashmir.</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- Testimonials End -->


</div>
<!-- Content END -->
{%endblock%}


{% block script %}
<script>
	var tpj = jQuery;
	var revapi152;
	tpj(document).ready(function () {
		if (tpj("#rev_slider_152_1").revolution == undefined) {
			revslider_showDoubleJqueryError("#rev_slider_152_1");
		} else {
			revapi152 = tpj("#rev_slider_152_1").show().revolution({
				sliderType: "standard",
				jsFileLocation: "//server.local/revslider/wp-content/plugins/revslider/public/assets/js/",
				sliderLayout: "fullscreen",
				dottedOverlay: "none",
				delay: 9000,
				navigation: {
				},
				responsiveLevels: [1240, 1024, 778, 480],
				visibilityLevels: [1240, 1024, 778, 480],
				gridwidth: [1240, 1024, 778, 480],
				gridheight: [868, 768, 960, 720],
				lazyType: "none",
				shadow: 0,
				spinner: "off",
				autoHeight: "off",
				fullScreenAutoWidth: "off",
				fullScreenAlignForce: "off",
				fullScreenOffsetContainer: "",
				fullScreenOffset: "",
				disableProgressBar: "on",
				hideThumbsOnMobile: "off",
				hideSliderAtLimit: 0,
				hideCaptionAtLimit: 0,
				hideAllCaptionAtLilmit: 0,
				debugMode: false,
				fallbacks: {
					simplifyAll: "off",
					disableFocusListener: false,
				}
			});
		}

		var targetdate = new Date().getTime() + 864000000 // i.e. '2015/12/31 24:00',
		slidechanges = [
			{ days: 0, hours: 0, minutes: 0, seconds: 12, slide: 2 },
			{ days: 0, hours: 0, minutes: 0, seconds: 0, slide: 3 }
		];

		tp_countdown(revapi152, targetdate, slidechanges);

		RsTypewriterAddOn(tpj, revapi152);
	});
</script>

{% endblock %}